<%- include("layout/header") %>

<main>
    <div class="wrap">
        <div class="content">
            <div class="post">
                <div class="top">
                    <h2>Заголовок</h2>
                </div>
                <div class="body">
                    <p>
                        текст
                    </p>
                </div>
                <div class="bottom">
                    <div class="author">
                        Автор:
                        <a href="/">Гедеван</a>
                    </div>
                    <a href="/">Комментарии</a>
                </div>
            </div>
        </div>

        <%- include ("layout/sidebar.ejs") %>
    </div>
</main>

<%- include ("layout/footer") %>